body {
    font-family: cursive;
    font-size: 1.2em;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../../media/examples/lizard.png");
    padding-bottom: 20px;
}
